<h2>Login</h2>

<%= form_with url: login_path, method: "POST", local: true do |f| %>
    <%= f.label :q, "Username" %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :q, "Password" %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login" %>
    
<% end %>
<br>
<br>
Create new account <%= link_to "here", user_path %>